.create__blog__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create__blog__container .form__container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.create__blog__container .form__container input,
.create__blog__container .form__container textarea {
  padding: 5px;
}

.create__blog__container .form__container button {
  border: none;
  padding: 10px;
  background-color: #0b740b;
  color: #fff;
  font-size: 20px;
}
