.help-container {
  background-image: url("/public/contact-bg.jpeg");

  background-size: cover;
  height: 600px;
}

.faq-container {
  display: flex;
  padding-top: 50px;
  margin-bottom: 50px;
}

.container__sidebar {
  padding-right: 30px;
  padding-top: 30px;
  width: 30%;
}

.help-heading {
  font-family: "Gentium Book Plus", serif;
  text-decoration: underline;
}

.container__main {
  /* Take the remaining width */
  flex: 1;

  /* Make it scrollable */
  overflow: auto;
}

.help-collapse :hover {
  background-color: rgb(5, 151, 54);
}

.help-collapse:active {
  color: wheat;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
