.Header {
  display: flex;
  flex-direction: column;
}

.Header-1 {
  display: flex;
  align-items: center;
  background-color: rgb(11, 116, 11);
  color: white;
  height: 2.8rem;
  padding-top: 5px;
}

.left-Container {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 50px;
  height: 40px;
}

.left-Container > img {
  height: 150%;
}

.center-Container {
  display: flex;
  flex: 8;
  text-align: center;
  padding: 5px 50px;
  height: 40px;
  align-items: center;
}

.center-Container > ul {
  display: flex;
  padding-top: 10px;
}

.center-Container > ul > Li {
  padding: 0px 30px;
  text-decoration: none;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  transition: all 1s;
  font-weight: 500;
  padding-top: 5px;
}

.Link-tag {
  color: white;
  text-decoration: none;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 21px;
  transition: all 1s;
  font-weight: 500;
  width: 20px;
}

.Link-tagg {
  color: #848484;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
}

.Link-tagg :hover {
  color: #33a137;
  border-bottom: 1px solid #33a137;
  cursor: pointer;
}

.Link-tag:hover {
  cursor: pointer;

  color: whitesmoke;
  text-decoration: underline;
}

.right-Container {
  display: flex;
  flex: 3;
  margin-right: 30px;
  height: 40px;
  align-items: center;
}

.right-Container > img {
  padding-left: 40px;
  margin-right: 10px;
  padding-right: 0px;
  height: 70%;
}

.right-Container > .MuiSvgIcon-root {
  height: 200%;
  margin-left: 20px;
}

.MuiSvgIcon-root {
  margin-left: 10px;
}

input[type="button"] {
  height: 28px;
  width: 120px;
  margin: 5px;
  border-radius: 5px;
  padding: 3px;
  font-size: 13px;
  border: white;
  background-color: white;
}

input[type="button"]:hover {
  background-color: #e9e6e6;
  transition: all 0.5s;
}

.Header-2 {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  height: 2.8rem;
}

.left-header {
  display: flex;
  flex: 1.5;
  margin-right: 30px;
  height: 40px;
  align-items: center;
  text-align: center;
}

.right-header {
  display: flex;
  flex: 8;
  margin-right: 30px;
  height: 40px;
  padding-top: 7px;
  align-items: center;
}

.Header-2 > .left-header > .first > img {
  width: 25%;
  margin-top: 5px;
  margin-left: 10px;
}

.first {
  margin-right: -20px;
  margin-left: 10px;
}

.second {
  height: 40px;
  width: 240px;
  text-align: left;
}

.logo-img {
  height: 36px;
  width: 210px;
}

.Header-2 > .left-header > .second > h2 {
  color: black;
  font-size: 20px;
  font-weight: 900;
  margin-left: 15px;
}

.Header-2 > .left-header > .second > h4 {
  margin-left: 15px;
  color: #f9aa19;
  font-size: 10px;
  font-weight: bold;
}

.options > ul {
  display: flex;
}

.extends > ul {
  display: flex;
}

.options > ul > li {
  padding: 0px 30px;
  text-decoration: none;
  list-style: none;
  transition: all 1s;
  font-weight: 400;
  color: #3f3d3d;
  font-size: 1rem;
}

.extends > ul > li {
  padding: 0px 30px;
  text-decoration: none;
  list-style: none;
  transition: all 1s;
  color: #848484;
  font-size: 1rem;
  font-weight: 400;
}

.options > ul > li:nth-child(3) {
  border-right: 2px solid #b1b1b1;
}

.extends > ul > li:nth-child(1) {
  padding-left: 20px;
  border-right: 2px solid #b1b1b1;
}

.link-rem {
  color: #848484;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 1s;
}
.header-collapse > h4 {
  color: #848484;
  font-size: 1rem;
  font-weight: 500;
}

.header-collapse > h4:hover {
  cursor: pointer;
  color: #33a137;
  font-weight: bold;
}

.null-container {
  display: none;
}
@media (max-width: 574px) {
  .center-Container {
    background-color: #33a137;
    height: 160px;
    width: 50%;
    flex: 0;
    right: 1rem;
    margin-top: 0px;
    position: fixed;

    z-index: 2;
    padding-bottom: 1px;
    justify-content: space-evenly;
  }
  .barsNav {
    position: fixed;
    right: 1rem;
    z-index: 2;
    cursor: pointer;
    top: 1rem;
  }
  .left-Container {
    display: none;
    flex: 0;
  }
  .right-Container {
    flex-direction: column-reverse;
    background-color: #33a137;
    height: 100px;
    width: 50%;
    flex: 0;
    right: -14px;
    margin-top: 260px;
    position: fixed;

    z-index: 2;
    padding-bottom: 6px;
    justify-content: space-evenly;
  }
  .right-Container > img {
    display: none;
  }
  #profileIcon {
    margin-right: 10px;
  }
  .Header-2 {
    display: none;
  }
  .center-Container > ul {
    flex-direction: column;
    padding-right: 20px;
  }
  .center-Container > ul > li {
    padding: 0px 10px;
    text-decoration: none;
    list-style: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    transition: all 1s;
    font-weight: 500;
    padding-top: 5px;
  }
  .Header-1 {
    background-color: white;
    width: 130px;
    margin-left: 166px;
    top: 1rem;
    height: 220px;
    margin-bottom: 3rem;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
