.Search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 600px; */
  /* background-image: url('/public/back.jpg'); */
  /* background-color: rgba(0, 0, 0, 0.56); */
  background-position: center;
  /* height: 30vh; */
  /* width: 50%; */


  /* width: 70%; */
  padding: 2rem 4rem;
}

.Search-container > h1{
 color: white;
}

.first-row {
  display: flex;
  margin: 5px;
}

.first-row input {
  width: 350px;
  height: 35px;
  margin-top: 20px;
  margin-left: 15px;
  padding-left: 5px;
}

.first-row input[type="submit"]{
  height: 35px;
  width: 110px;
  margin-top: 20px;
  margin-left: 15px;
  background-color: rgb(59, 163, 59);
  color: white;
  border: 0px;
  font-weight: 600;
}
/* .first-row button {
  height: 35px;
  width: 110px;
  margin-top: 20px;
  margin-left: 15px;
  background-color: rgb(59, 163, 59);
  color: white;
  border: 0px;
  font-weight: 600;
  // border-radius: 8px; 
} */

.second-row {
  display: flex;
  margin: 5px;
}

.drop-down {
  display: flex;
  flex-direction: column;
  /* width: min-content; */
  margin-left: 15px;
  text-align: center;
}

.drop-down label {
  /* font-size: 1.2rem; */
  font-weight: bold;
  color: rgb(5, 151, 54);
  /* color: white; */
}

.drop-down p {
  margin: 5px;
}

.drop-down select {
  height: 35px;
}
.drop-down #City {
  width: 122px;
}
.drop-down #Price {
  width: 100px;
}
.drop-down #Beds {
  width: 100px;
}

.min-max {
  display: flex;
  /* width:400px; */
}

.price-box {
  width: 102px;
}

.area-box {
  width: 102px;
}

.null-container {
  display: none;
}




@media (max-width: 574px) {
  .Search-container{
    width: 355px;
  }
  .first-row {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .second-row{
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .drop-down {
    display: flex;
    flex-direction: column;
    /* width: min-content; */
    margin-left: 15px;
    text-align: center;
    width: 330px;

  }

  .first-row input {
    width: 330px;
    height: 35px;
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 5px;
  }
  
}