.singleAboutcard {
    width: 300px;
    height: 370px;
    text-align: center;
    /* background: linear-gradient(90deg, rgb(16, 161, 16) 50%, rgb(92, 196, 92) 75%, rgb(8, 202, 8) 100%); */

}

.singleAboutcard h5 {
    font-family: 'Mukta', sans-serif;
    margin-top: 12px;
    font-weight: bold;
    color: black;
    font-weight: bold;
    font-size: 25px;

}

.aboutCardContainer {
    width: 352px;
}

.swiper-pagination-bullet-active {
    background-color: wheat !important;
  
}

.singleAboutcard img {
    margin-top: 5px;
    height: 210px;
    width: 220px;
    border-radius: 8px;
    object-fit: fill;
}

.icons {
    display: flex;
    justify-content: space-evenly;


    width: 260px;
    margin-right: auto;
    margin-left: auto;
    align-items: flex-start;
    /* padding-bottom: 18px; */
    margin-bottom: 20px;


}

.icons a {
    color: rgb(207, 169, 98);
    font-size: 50px;
    width: 33%;


}

.icons a:hover {
    color: rgb(168, 163, 135);

    text-decoration: underline;
    border-radius: 1px solid wheat;

}

.aboutInfo {
    display: flex;
    width: 890px;
    height: 370px;
    margin: 60px auto;

}

.aboutInfo p {
    width: 530px;
    background-color: rgb(249, 240, 223);
    color: rgb(7, 87, 7);
    padding-top: 2px;
    padding-left: 10px;
    font-family: 'Merriweather', serif;
    height: 370px;
    font-size: 18px;
}

#follow {
    font-size: 18px;
    font-weight: bold;
    color: rgb(5, 63, 5);
}

.about_container h1 {
    font-family: 'Gentium Book Plus', serif;
    margin-top: 70px;
    color: rgb(249, 238, 146);
    background: linear-gradient(90deg, rgb(16, 161, 16) 50%, rgb(92, 196, 92) 75%, rgb(8, 202, 8) 100%);
    font-size: 50px;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid rgb(239, 239, 7);

}
@media(max-width:574px){
    .singleAboutcard {
        width: 100%;
        height: 500px;
        text-align: center;
        /* background-color: aqua; */
        /* background: linear-gradient(90deg, rgb(16, 161, 16) 50%, rgb(92, 196, 92) 75%, rgb(8, 202, 8) 100%); */
    }
    
    .singleAboutcard h5 {
        font-family: 'Mukta', sans-serif;
        margin-top: 1px;
        font-weight: bold;
        color: black;
        font-size: 16px;
    
    }
    
    .aboutCardContainer {
        width: 95%;
    }
    
    .swiper-pagination-bullet-active {
        background-color: wheat !important;
        /* margin-top: 50px!important; */
    }
    
    .singleAboutcard img {
        margin-top: 5px;
        height: 150px;
        width: 210px;
        border-radius: 8px;
        object-fit: fill;
    }
    
    .icons {
        display: flex;
        justify-content: space-evenly;
    margin-top: -10px;
    
        width: 260px;
        margin-right: auto;
        margin-left: auto;
        align-items: flex-start;
        /* padding-bottom: 18px; */
        /* margin-bottom: -40px; */
    
    
    }
    
    .icons a {
        color: rgb(207, 169, 98);

        font-size: 36px;
        width: 33%;
    
    
    }
    
    .icons a:hover {
        /* color: rgb(25, 15, 207); */
    
        text-decoration: underline;
        border-radius: 1px solid wheat;
    
    }
    
    .aboutInfo {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 700px;
        margin: 60px auto;
    
    }
    
    .aboutInfo p {
        /* width: 530px; */
        background-color: rgb(249, 240, 223);
        color: rgb(7, 87, 7);
        padding-top: 2px;
        padding-left: 10px;
        height: fit-content;
        font-size: 14px;
        width: 100%;
        
    }
    
    #follow {
        font-size: 16px;
        font-weight: bold;
        color: rgb(5, 63, 5);
    }
    
    .about_container h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 20px;
        color: rgb(249, 238, 146);
        background: linear-gradient(90deg, rgb(16, 161, 16) 50%, rgb(92, 196, 92) 75%, rgb(8, 202, 8) 100%);
        font-size: 50px;
        width: 94%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 3px solid rgb(239, 239, 7);
    
    }
}