.carousel{
    height: 500px;
    width: 600px;
}

.projectCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}


.project-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 600px;
    font-family: 'Gentium Book Plus', serif;
    width: 100%;
    background-image: url("/public/bg6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.yellow-color{
    text-align: center;
    color: white;
    background-color: rgb(165, 165, 37);
    border-radius: 4px; 
    padding: 3px;
    margin: 3px;
}

.projDet-label{
    font-size: 23px;
    font-weight: bold;
}

.projDet-para{
    font-size: 20px;
}

.projDet-btn{
    padding: 4px;
    width:50%;
  display: flex;
  padding:3px 10px 5px 10px;
  /* background-color: #47ac4a; */
  background-color: #33a137;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  /* transition: 0.5 all; */
}

.projDet-btn:hover{
    width:55%;
  border-radius: 0px 15px 15px 0px;
  transition: 1 ease-in-out;
}

.project-detail{
    padding: 20px;
    border-top: 2px solid rgb(39, 175, 39);
    border-left: 2px solid rgb(39, 175, 39);
    border-radius: 5px;
}

.projDet-heading{
    font-size: 35px;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: underline;
}